.newLayout{
     width: 100%;
     height: 100vh;
    .Head{
        width: 100vw;
        display: flex;
        align-items: center;
        height: 70px;
    }
    .Main{
        width: 100vw;
        height: calc(100% - 70px);
        background: #f3f5fa;
        // border:1px solid black;
    }
}



